
<section class="container" id="home">
    <div class="row">
        <div class="col-lg-10 col-centered">
            <div class="col-sm-12 col-md-7 col-lg-8">
                <h1 class="text-center">Bow Wow Walking Services</h1>
                <h3 class="text-center">Keeping the Healthy in Your Pet</h3>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4">
                <img src="~/Content/Images/dogs.png" class="dogs" />
            </div>
        </div>
    </div>
    <hr />
</section>
