@{
    ViewBag.Title = "Bow Wow Walking Services";
}

<section class="row">
    <div class="col-lg-10 col-centered offset-sec-right">
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-1 col-lg-5 offset-picture-left">
            <img class="col-centered" src="~/Content/Images/dog-weight.png" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-1 col-lg-5 intro-text checkord-orange left-triangle">
            <p class="text-center">
            <p>Is your pet <strong><i>gaining</i></strong> weight?</p>
            <p>Does your pet need <strong><i>more</i></strong> exercise?</p>
            <p>Are there days you just don’t have <strong><i>time</i></strong> to walk your dog?</p>
            <p>Well, look no further! <strong>Bow Wow Walking Services</strong> is here for you!</p>
            </p>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-lg-10 col-centered offset-sec-left">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-5 col-md-push-6 col-lg-5 col-lg-push-6 offset-picture-right">
            <img class="col-centered" src="~/Content/Images/dog-walking.png" />
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-5 col-md-pull-4 col-lg-5 col-lg-pull-4 intro-text checkord-orange right-triangle">

            <p class="text-center">
                <h4>Prices</h4>
            <p>New Customer's <strong>10%</strong> off first <strong><i>1 <sup>hr</sup></i></strong> dog walk.</p>
            <p><strong>$15</strong> - 30<sup>min</sup> - walking session</p>
            <p><strong>$30</strong> - 1<sup>hr</sup> - walking session	</p>
            </p>
        </div>
    </div>
</section>

<section class="row" id="contact">
    <div class="col-lg-10 col-centered">
        @Html.Partial("_ContactPartial")
    </div>
</section>

@Html.Partial("_MessageSuccessModal")

@section Scripts {
    @if (ViewBag.Message != null)
    {
        <script>
            $(document).ready(function () {

                console.log("Success");
                $('#successModal').modal('show');
            });
        </script>

    }
}